{% extends "layout.html" %}
{% block body %}
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h3 class="mb-5" style="margin-left: 10px;">Log in with your gpodder.net credentials: </h3>
            </div>
            <form action="{{ url_for('login') }}" method=post>
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="text" class="form-control form-control-lg" name="username" placeholder="Username">
                    </div>
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="password" class="form-control form-control-lg" name="password" placeholder="Password">
                    </div>
                    <div class="col-12 col-md-3">
                        <button type="submit" name="submit" class="btn btn-block btn-lg btn-primary">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}